body{
    min-height: 100%;
}

.border{
    border-color: black;
    border-style: solid;
    margin: 2px;
    padding: 5px;
    border-width: 1px;
}

button#audio-record {
    max-height: 100%;
    max-width: 100%;
}

button > img {
    max-height: 100%;
    max-width: 50%;
}